<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Yocket College Finder Test Suite">

        <listeners>
            <listener class-name="com.yocket.ExtentReportListener.ExtentReportListener" />
        </listeners>


    <test name="Yocket College Finder Test Cases">
        <classes>
            <class name="com.yocket.testCases.masters.LoginAndEnterValidDetails"></class>
            <class name="com.yocket.testCases.masters.InvalidCountry"></class>
            <class name="com.yocket.testCases.masters.InvalidCourse"></class>
            <class name="com.yocket.testCases.masters.InvalidCollege"></class>
            <class name="com.yocket.testCases.masters.InvalidMajor"></class>
            <class name="com.yocket.testCases.masters.InvalidGPA"></class>

        </classes>
    </test>
</suite>